
{% extends 'layout/main.html' %}
{% block title %} index {% endblock %}

{% block body %}
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">author</th>
      <th scope="col">description</th>
        <th scope="col">actions</th>

    </tr>
  </thead>
  <tbody>
    {% for book in books %}
     <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.description }}</td>
      <td> <a class="btn btn-outline-danger" href="{% url 'delete' book.id %}">Delete</a>
        <a class="btn btn-outline-warning" href="{% url 'edit' book.id %}">edit</a></td>
    </tr>
    {% endfor %}
      </tbody>
</table>
<br>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'create' %}">Create a new book</a>

{% endblock %}



